<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wealth Tracker</title>
    <script defer src="/wealthtracker.js"></script>
</head>
<body>
    <h1>Wealth Tracker</h1>
    <button id="add-row">Add a Row</button>
    <button id="add-column">Add a Column</button>
    <table id="wealth-table" border="1">
        <thead>
            <tr>
                <th>Labels</th>
                <% reportingDates.forEach(date => { %>
                    <th><%= date %></th>
                <% }); %>
            </tr>
        </thead>
        <tbody>
            <% labels.forEach(label => { %>
                <tr>
                    <td><%= label.label %> (<%= label.category %>)</td>
                    <% reportingDates.forEach(date => { %>
                        <td>
                            <input type="text" 
                                   id="cell-<%= label.id %>-<%= date %>" 
                                   value="<%= groupedEntries[date] && groupedEntries[date][label.id] ? groupedEntries[date][label.id] : '' %>" />
                        </td>
                    <% }); %>
                </tr>
            <% }); %>
        </tbody>
    </table>
</body>
</html>
