<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wealth Tracker</title>
    <script defer src="/wealthtracker.js"></script>
</head>
<body>
    <h1>Wealth Tracker</h1>
    <table id="wealth-table" border="1">
        <thead>
            <tr>
                <th>Labels</th>
                <% reportingDates.forEach(date => { %>
                    <th><%= date %></th>
                <% }); %>
            </tr>
        </thead>
        <tbody>
            <!-- Assets Section -->
            <tr>
                <th colspan="<%= reportingDates.length + 1 %>">Assets</th>
            </tr>
            <% categorizedLabels.Assets.forEach(label => { %>
                <tr>
                    <td><%= label.label %></td>
                    <% reportingDates.forEach(date => { %>
                        <td>
                            <input type="text" 
                                   id="cell-<%= label.id %>-<%= date %>" 
                                   value="<%= groupedEntries[date] && groupedEntries[date][label.id] ? groupedEntries[date][label.id] : '' %>" />
                        </td>
                    <% }); %>
                </tr>
            <% }); %>
            <tr>
                <td colspan="<%= reportingDates.length + 1 %>">
                    <button id="add-asset">Add Asset</button>
                </td>
            </tr>

            <!-- Debts Section -->
            <tr>
                <th colspan="<%= reportingDates.length + 1 %>">Debts</th>
            </tr>
            <% categorizedLabels.Debts.forEach(label => { %>
                <tr>
                    <td><%= label.label %></td>
                    <% reportingDates.forEach(date => { %>
                        <td>
                            <input type="text" 
                                   id="cell-<%= label.id %>-<%= date %>" 
                                   value="<%= groupedEntries[date] && groupedEntries[date][label.id] ? groupedEntries[date][label.id] : '' %>" />
                        </td>
                    <% }); %>
                </tr>
            <% }); %>
            <tr>
                <td colspan="<%= reportingDates.length + 1 %>">
                    <button id="add-debt">Add Debt</button>
                </td>
            </tr>

            <!-- Expenses Section -->
            <tr>
                <th colspan="<%= reportingDates.length + 1 %>">Expenses</th>
            </tr>
            <% categorizedLabels.Expenses.forEach(label => { %>
                <tr>
                    <td><%= label.label %></td>
                    <% reportingDates.forEach(date => { %>
                        <td>
                            <input type="text" 
                                   id="cell-<%= label.id %>-<%= date %>" 
                                   value="<%= groupedEntries[date] && groupedEntries[date][label.id] ? groupedEntries[date][label.id] : '' %>" />
                        </td>
                    <% }); %>
                </tr>
            <% }); %>
            <tr>
                <td colspan="<%= reportingDates.length + 1 %>">
                    <button id="add-expense">Add Expense</button>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>
